<%= render  "shared/header" %>

<main role="main">
  <div class="top-container">
      <section class="jambotron text-center">
        <h1 class="jumbotron-heading text-center">ConneQtへようこそ！</h1>
        <p class="lead text-muted-white">ConneQtはプログミングを勉強するあなたを現役の<br>プロエンジニアのチューターたちが応援します！</p>
      </section>
    </div>  
  
    <div class="album py-5 bg-light">
      <div class="container">
  
        <div class="row">

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <%= image_tag "3057434_s.jpg", class:"card-img-top"%>
              <div class="card-body">
                <p class="card-text">某大手SIerでSEをしております。<br>Javaのことならなんでもご質問ください！<br>一緒に学習頑張りましょう！</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">詳しくみる</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <%= image_tag "1027158_s.jpg", class:"card-img-top" %>
              <div class="card-body">
                <p class="card-text">フリーランスでバックエンド開発をメインでやっています。得意な言語はRuby。<br>主にRailsを使って開発しております。
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">詳しくみる</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <%= image_tag "265555_s.jpg", class:"card-img-top" %>
              <div class="card-body">
                <p class="card-text">こんにちは！某プログラミングスクールで８年講師をやっています。HTML&CSS・JavaScriptなら私にお任せください！</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">詳しくみる</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <%= image_tag "1341077_s.jpg", class:"card-img-top" %>
              <div class="card-body">
                <p class="card-text">現在オープン系自社開発企業で<br>フロントエンドエンジニアをしています！フロントのことでお悩みの方はぜひご質問ください！</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">詳しくみる</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <%= image_tag "3328654_s.jpg", class:"card-img-top" %>
              <div class="card-body">
                <p class="card-text">大手SIerでPGをしています。業務では主にPHPを使用した開発を行っております。PHPのフレームワークを使った開発でお困りごとがありましたらご質問ください</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">詳しくみる</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <%= image_tag "3909531_s.jpg", class:"card-img-top" %>
              <div class="card-body">
                <p class="card-text">受託開発系企業で４年努めてから現在はWeb系自社開発企業でエンジニアをしています。ReactやVue.jsなどをメインで使用しています。なんでもご質問ください。</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">詳しくみる</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
<%= render  "shared/footer" %>