<%= render "shared/header" %>
  <div class="main-container">
    <div class="message-content">
      <div id ="messages">
        <%= render @messages %>
      </div>
    </div>
      <input type="text" id="message_input" data_user="<%=current_user.id %>" data_tutor="<%= @tutor.id%>" data-behavior="message_speaker">
      <button type="submit" id="message_button">送信</button>
  </div>
<%= render "shared/footer" %>