<footer>
<div class='footer'>
  <div class='footer-contents'>
    <div class='conneqt-details'>
      <h2 class='footer-content-head'>ConneQtについて</h2>
      <ul>
        <li><%= link_to '会社概要（運営会社)', "#", class: "footer-link" %></li>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
        <li><%= link_to 'ConneQt利用規約', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='conneqt-details'>
      <h2 class='footer-content-head'>ConneQtについて</h2>
      <ul>
        <li><%= link_to 'ConneQtガイド', "#", class: "footer-link" %></li>
        <li><%= link_to 'ConneQtロゴ利用ガイドライン', "#", class: "footer-link" %></li>
        <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
  <%= link_to image_tag("logo.png", class:"logo-white"), "#" %>
  <p>© ConneQt</p>
</div>
</footer>