<%= render  "shared/header" %>

<main>
  <div class="jambotron">
    <h1 class="text-center my-4">ConneQtとは？</h1>
  </div>
  <div class="container">
    <div class="card mt-5 shadow-sm p-3 mb-5 bg-white">
      <%= image_tag "exhaust_lady.jpeg", class:"d-block m-auto w-50 h-75"%>
      <p class="text-center pt-5">プログラミングを学習している皆さん<br>こんな経験はありませんか？<br>エラーが出たり、分からないところがあるのに誰にも聞けないなんてこと。</p>
    </div>
    <div class="card mt-5 shadow-sm p-3 mb-5 bg-white">
      <%= image_tag "teach.jpeg", class:"d-block m-auto w-50 h-75"%>
      <p class="text-center pt-5">ConneQtは現場で働くプロエンジニアがチューターとしてあなたの学習をサポートします。</p>
    </div>
    <div class="card mt-5 shadow-sm p-3 mb-5 bg-white">
      <%= image_tag "person_get_together.jpeg", class:"d-block m-auto w-50 h-75"%>
      <p class="text-center pt-5">ConneQtでたくさん質問して未経験からエンジニアを一緒に目指しましょう！</p>
    </div>
  </div>
</main>

<%= render  "shared/footer" %>