<!DOCTYPE html>
<html>
  <head>
    <title>Conneqt</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application','data-turbolinks-track': 'load' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'load' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'load' %>
    <script>
    $(window).ready(function () {
      $(".js-searchable").select2({
        multiple: true,
        allowclear: true,
        theme: "bootstrap"
      });
    });
    </script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
